h1{
    background-color: aqua;
    color: blue;
}

.box{
    height: 35px;
    width: 35px;
  
    background-color: aqua;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 5px;
    border: 2px solid black;
}